@import '../../common_projects_utilities/css/font-awesome', '../../common_projects_utilities/css/reset';

/* VARIABLES */
$black: #000;
$white: #fff;
$yellow: #ffce39;
$summary-color: #535353;
$theme-color: #f35e60;
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

/* ESTILOS GENÉRICOS */
* {
    margin: 0 auto;
    font-family: $roboto;
    box-sizing: border-box;
}
body { font-family: $roboto; }
a { text-decoration: none; }
img, video { max-width: 100%; }
img { height: auto; }
strong { font-weight: 700; }
.ec_visit_pixel { position: absolute; }

/* HELPERS */
.block {display: block;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-uppercase {text-transform: uppercase;}
.relative {position: relative;}
.margin {
    &__auto {margin: 0px auto}
    &__last-section-content {padding-bottom: 95px;}
    &__text {
        &--paragraph {margin-bottom: 30px;}
        &--block {margin-bottom: 80px;}
    }
    &__block {margin-bottom: 120px;}
    &__sub-block {
        margin-bottom: 40px;
        &__custom-interview { margin-bottom: 30px;}
    }
}
.color {color: $theme-color;}
@mixin summary-text {
    font-family: $playfair;
    font-size: 35px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    color: $summary-color;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* HEADER */
.header {
    min-height: 100vh;
    
    //Header Content
    &__content {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: url(https://www.ecestaticos.com/file/fed43131f7dbb079bc48517397adaed7/1611562114-header-bg-2560.jpg)no-repeat top center;
        background-size: cover;
        overflow: hidden;
    }

    //Logo Vanitatis
    &__logo {
        position: absolute;
        top: 20px;
        width: auto;
        height: auto;
        left: calc(50% - 22px);
        z-index: 100;        
    }

    //Claim
    &__claim {
        position: absolute;
        bottom: 0;
        left: 0;
        font-weight: 100;
        //font-size: 215.8px;
        font-size: 14.9vw;
        line-height: .81;
        //letter-spacing: -2.16px;
        color: #fff;
        z-index: 25;
        opacity: 0;
        visibility: hidden;
        &--visible {
            opacity: 1;
            visibility: visible;
            transition: opacity .6s ease-out .5s, visibility .6s ease-out .5s;
        }
    }

    //Foreground
    &__fg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(https://www.ecestaticos.com/file/444747b7bdd75186ad02c793e647035a/1611564113-header-fg-2560.png)no-repeat top center;
        background-size: cover;
        z-index: 50;
    }
    
}

.title {
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translate(-50%,0);
    width: max-content;
    font-family: $playfair;
    font-weight: 500;
    font-size: 40px;
    line-height: .81;
    color: $yellow;
    text-shadow: 0 4px 6px rgba(0, 0, 0, .25);
    z-index: 75;
    opacity: 0;
    visibility: hidden;
    &--visible {
        opacity: 1;
        visibility: visible;
        transition: opacity .6s ease-out .5s, visibility .6s ease-out .5s;
    }
}

/* ASIDE > SOCIAL NETWORKS */
.share {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 100;
    background: $summary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .6s, visibility .6s;
    &.visible {
        opacity: 1;
        visibility: visible;
    }
    &__icon {
    	margin: 5px 0;
        width: 32px;
        height: 32px;
        font-size: 16px;
        line-height: 32px;
        border-radius: 50%;
        background: #fff;
        color: $black;
        transition: color .4s;
        &:hover {color: $summary-color;}
    }
}

.logo {
	border-bottom: 1px solid #fff;
	margin: 0 0 10px;
	padding: 0 0 10px;
    img {display: block;}
}

/* CONTENIDO */
section {
    width: 100%;
    height: auto;
}
    
//Contenedores
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    &--normal {
        max-width: 1062px;
        width: auto;
    }
    &--full-width {
        width: 100%;
    }
    &--row {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        //Subbloques
        div {
            width: 50%;
            &:first-child{margin-right: 20px;}
            &:last-child{margin-left: 20px;}
        }

        .summary { //Específico del primer bloque
            transform: translateY(240px);
        }
    }
    &--text {
        max-width: 600px;
    }
}

/* PIES DE FOTO/VÍDEO */
.caption {
    display: block;
    margin-top: 40px;

    font-family: $playfair;
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    &--mobile {
        display: none;
    }
    & span {
        display: block;
        font-family: $playfair;
    }
}

/* FIRMAS */
.authors {
    margin: 100px auto;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    &--each {
        display: block;
        margin-bottom: 10px;
        .charge {
            color: #858585;
        }
        .name {
            font-weight: bold;
            color: #797979;
        }
    }            
}        

/* TEXTOS > Configuración y bloques */
.text {
    &__color {
        &--white {color: $white;}
        &--black {color: $black}
        &--yellow {color: $yellow}
    }
    &__special {
        max-width: 511px;
        font-family: $playfair;
        font-size: 27px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.35;
        letter-spacing: -0.27px;
        text-align: center;
        color: #ffce39;
    }
    &__content {
        font-size: 19px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: left;
    }
    &__interview {
        &--title {
            margin-bottom: 35px;
            text-align: center;
            @include summary-text();
        }
        &--question {
            font-weight: bold;
            .background--black & {color: $yellow;}
            .background--white & {color: $black;}            
        }
        &--answer {
            .background--black & {color: $white;}
            .background--white & {color: $black;}  
        }
    }
}

.capital-letter {
    font-size: 400px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #3f3f3f;

    height: 400px;
    
    display: block;
    transform: translate(-40px, 10px);
}

/* SUMARIOS */
.summary {
    width: 100%;
    max-width: 635px;
    text-align: right;
    @include summary-text();

    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;    

    &--mobile {display: none;}
    &.visible {
        opacity: 1;
		visibility: visible;
    }
    &__block {
        display: block;
        font-family: $playfair;
        font-size: 35px;
    }
}

/* MEDIA CONTENT */
.capture {
    width: 100%;
    
    height: auto;

    display: flex;
    justify-content: center;

    &__first {
        max-height: 766px;
    }
    // &__second {
    //     max-height: 1804px;
    // }
    &__third {
        &--full {max-height: 650px;}
        &--half {max-height: 782px;}
    }
    // &__fourth {
    //     max-height: 1807px;
    // }
    &__fifth {
        max-height: 708px;
    }
    &__sixth {
        max-height: 769px;
    }
}    

/* CAPAS DE FONDO */
.background {
    &--black { background-color: #000;}
    &--white { background-color: #fff;}
    &--mix {
        &--first {
            background: linear-gradient(180deg, $black 80%, $white 20%);
        }
        &--last {
            background: linear-gradient(to bottom, $white 20%, $black 0%);
        }
    }
}

/* FOOTER */
footer{
    display: block;
    background: #2e2e2e;
    
    .footer-credits{
    	padding: 60px 0px;
        display: flex;
        justify-content: center;
        .brand{
            position: relative;
            //transform: translateX(5px);
            width: auto;
    		height: auto;
        }
    }
}

//////
// Media queries > Este proyecto es desktop-first
//////
@media only screen and (max-width: 1920px) {
    .header {
        &__content {
            background: url(https://www.ecestaticos.com/file/e52f2ecfdbe0d51178a1df6c8490986c/1611577776-header-bg-1920.jpg)no-repeat top center;
            background-size: cover;
        }
        &__fg {
            background: url(https://www.ecestaticos.com/file/e9ec01deac1ef80b1a60a2d013883d43/1611577826-header-fg-1920.png)no-repeat top center;
            background-size: cover;
        } 
    }
}

@media only screen and (max-width: 1440px) {
    .header {
        &__content {
            background: url(https://www.ecestaticos.com/file/e5976e855691ed038f682c09c1ad719f/1611577980-header-bg-1440.jpg)no-repeat top center;
            background-size: cover;
        }
        &__fg {
            background: url(https://www.ecestaticos.com/file/ddbbd43074037de0892b09e959508547/1611578026-header-fg-1440.png)no-repeat top center;
            background-size: cover;
        } 
    }
}

@media only screen and (max-width: 1200px) {
    .header {
        &__content {
            background: url(https://www.ecestaticos.com/file/f297549725fe15f54dd5180a4e7447a5/1611585961-header-bg-1200.jpg)no-repeat top center;
            background-size: cover;
        }
        &__fg {
            background: url(https://www.ecestaticos.com/file/4c33ab5d217d4df0805001787e5a1f93/1611586011-header-fg-1200.png)no-repeat top center;
            background-size: cover;
        } 
    }
    .summary {
        max-width: 550px;
        &__block {display: inline}
    }
}

@media only screen and (max-width: 768px) {
    /* ASIDE > SOCIAL NETWORKS*/
    .share {
	    top: auto;
	    right: auto;
	    bottom: 0;
	    transform: none;
	    flex-direction: row;
	    width: 100%;
	    padding: 10px;
	    &__icon {margin: 0 10px;}
	}
	.logo {
	    border-bottom: transparent;
	    border-right: 1px solid #fff;
	    margin: 0 10px 0 0;
	    padding: 0 10px 0 0;
    }
    
    /* CONTENIDO */
    .content {
        &--text {
            max-width: unset;
        }
        &--row {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-sizing: border-box;
            //Subbloques
            div {
                width: 100%;
                &:first-child{
                    margin-right: 0px;
                    margin-bottom: 40px;
                }
                &:last-child{margin-left: 0px;}

            }

            &-special {
                div {
                    &:first-child{
                        margin-right: 0px;
                        //order: 1;
                    }
                    &:last-child{
                        margin-left: 0px;
                        //margin-bottom: 40px;
                        //order: 0;
                    }
                }                
            }
    
            .summary { //Específico del primer bloque
                transform: translateY(0px);
            }
        }
    }
    .capital-letter {
        font-size: 300px;
        height: 295px;
        transform: translate(-30px, 0px);
    }
    .caption {
        &--mobile {display: block;}
        &--desktop {display: none;}
    }
    .summary {
        max-width: unset;
        &--mobile {
            display: block;
            &:first-of-type{
                margin-top: 80px;
            }            
        }
        &--desktop {display: none;}
    }
    .capture {
        display: block;
        text-align: center;
    }
    .text__interview--title {text-align: left;}

    .authors, .text__special, .capital-letter, .text__content, .summary, .caption {
        padding: 0px 20px;
    }

    .interview-custom {
        padding: 0px 20px;
        .text__content {padding: 0px}
    }
}

@media only screen and (max-width: 767px) {
    .header {
        min-height: auto;
        &__content {
            height: 90vh;
            position: relative;
            background: url(https://www.ecestaticos.com/file/b9f079ba8325232c15fa7354000ef2b5/1611655684-header-bg-movil.jpg)no-repeat center;
            background-size: cover;
        }
        &__fg {display: none;}
        &__claim {
            opacity: 1;
            visibility: visible;
            bottom: 30px;
            font-weight: 300;
            font-size: 14.5vw;
            line-height: .98;
        }
    }
    .title {
        top: 60px;
        width: 100%;
        max-width: 340px;
        font-size: 32px;
        line-height: 1.02;
        text-shadow: 0 3px 6px rgba(0, 0, 0, .25);
        opacity: 1;
        visibility: visible;
    }
}

@media only screen and (max-width: 767px) and (min-height: 700px) {
    .title {top: 80px;}
}

@media only screen and (max-width: 545px) {
    .capture__third--full {max-height: unset;}
}

@media only screen and (max-width: 393px) {
    .authors, .text__special, .capital-letter, .text__content, .summary, .caption {
        padding: 0px 12px;
    }

    .interview-custom {
        padding: 0px 12px;
        .text__content {padding: 0px}
    }
}